@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(61, 57, 57);
}
.left-links{
  display: flex;
  gap: 16px;
  padding: 10px;
  margin: 0;
}
.right-links{
  display: flex;
  gap: 16px;
  padding: 10px;
  margin: 0%;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  background-color: #eee;
}
.container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer{
  margin-top: auto;
}